<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinbrain.mq.mapper.custom.UContactMapper">
  <resultMap id="BaseResultMap" type="com.clinbrain.mq.model.custom.UContact">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	contact_name,
       	  	      	nickname,
       	  	      	sex,
       	  	      	enabled,
       	  	      	create_time,
       	  	    	  	update_time
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.clinbrain.mq.model.custom.UContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_contact
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clinbrain.mq.model.custom.UContactExample">
    delete from u_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.clinbrain.mq.model.custom.UContact">
    insert into u_contact (
      	  	       id,
       	  	       contact_name,
       	  	       nickname,
       	  	       sex,
       	  	       enabled,
       	  	       create_time,
       	  	    	  update_time
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{contactName,jdbcType=VARCHAR},
       	  	      	#{nickname,jdbcType=VARCHAR},
       	  	      	#{sex,jdbcType=VARCHAR},
       	  	      	#{enabled,jdbcType=TINYINT},
       	  	      	#{createTime,jdbcType=TIMESTAMP},
       	  	    	  #{updateTime,jdbcType=TIMESTAMP}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.clinbrain.mq.model.custom.UContact">
    insert into u_contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="contactName != null">
        contact_name,
      </if>
         
      <if test="nickname != null">
        nickname,
      </if>
         
      <if test="sex != null">
        sex,
      </if>
         
      <if test="enabled != null">
        enabled,
      </if>
         
      <if test="createTime != null">
        create_time,
      </if>
         
      <if test="updateTime != null">
        update_time,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
          <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
          <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
          <if test="enabled != null">
        #{enabled,jdbcType=TINYINT},
      </if>
          <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.clinbrain.mq.model.custom.UContactExample" resultType="java.lang.Long">
    select count(*) from u_contact
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update u_contact
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.contactName != null">
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
          <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
          <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
          <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=TINYINT},
      </if>
          <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update u_contact
    set
            	     	 
    	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 
    	 contact_name = #{record.contactName,jdbcType=VARCHAR},
    	         	     	 
    	 nickname = #{record.nickname,jdbcType=VARCHAR},
    	         	     	 
    	 sex = #{record.sex,jdbcType=VARCHAR},
    	         	     	 
    	 enabled = #{record.enabled,jdbcType=TINYINT},
    	         	     	 
    	 create_time = #{record.createTime,jdbcType=TIMESTAMP},
    	         	     	 
    	 update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.clinbrain.mq.model.custom.UContact">
    update u_contact
    <set>
                          
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
                      
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
                      
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
                      
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
                      
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
                      
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=INTEGER}
                                                          
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.clinbrain.mq.model.custom.UContact">
    update u_contact
    set 
    		 		 	  	  
		contact_name = #{contactName,jdbcType=VARCHAR},
	  	 		 	  	  
		nickname = #{nickname,jdbcType=VARCHAR},
	  	 		 	  	  
		sex = #{sex,jdbcType=VARCHAR},
	  	 		 	  	  
		enabled = #{enabled,jdbcType=TINYINT},
	  	 		 	  	  
		create_time = #{createTime,jdbcType=TIMESTAMP},
	  	 		 	  		
		update_time = #{updateTime,jdbcType=TIMESTAMP}
	  	 		
    where 
            
    id = #{id,jdbcType=INTEGER}
                                                            
  </update>
  
                                       
</mapper>