<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinbrain.mq.mapper.auto.MsgTemplateMapper">
  <resultMap id="BaseResultMap" type="com.clinbrain.mq.model.custom.sms.UMsgTemplate">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="template_code" jdbcType="VARCHAR" property="templateCode" />
    <result column="template_genre" jdbcType="VARCHAR" property="templateGenre" />
    <result column="template_content" jdbcType="VARCHAR" property="templateContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
	  	  	      	id,
       	  	      	template_code,
       	  	      	template_genre,
       	  	    	  	template_content
       	  	
  </sql>
  
  <select id="selectByExample" parameterType="com.clinbrain.mq.model.custom.UMsgTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_msg_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_msg_template
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_msg_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.clinbrain.mq.model.custom.UMsgTemplateExample">
    delete from u_msg_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.clinbrain.mq.model.custom.sms.UMsgTemplate">
    insert into u_msg_template (
      	  	       id,
       	  	       template_code,
       	  	       template_genre,
       	  	    	  template_content
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{templateCode,jdbcType=VARCHAR},
       	  	      	#{templateGenre,jdbcType=VARCHAR},
       	  	    	  #{templateContent,jdbcType=VARCHAR}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.clinbrain.mq.model.custom.sms.UMsgTemplate">
    insert into u_msg_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
         
      <if test="templateCode != null">
        template_code,
      </if>
         
      <if test="templateGenre != null">
        template_genre,
      </if>
         
      <if test="templateContent != null">
        template_content,
      </if>
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="templateCode != null">
        #{templateCode,jdbcType=VARCHAR},
      </if>
          <if test="templateGenre != null">
        #{templateGenre,jdbcType=VARCHAR},
      </if>
          <if test="templateContent != null">
        #{templateContent,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.clinbrain.mq.model.custom.UMsgTemplateExample" resultType="java.lang.Long">
    select count(*) from u_msg_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update u_msg_template
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.templateCode != null">
        template_code = #{record.templateCode,jdbcType=VARCHAR},
      </if>
          <if test="record.templateGenre != null">
        template_genre = #{record.templateGenre,jdbcType=VARCHAR},
      </if>
          <if test="record.templateContent != null">
        template_content = #{record.templateContent,jdbcType=VARCHAR},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update u_msg_template
    set
            	     	 
    	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 
    	 template_code = #{record.templateCode,jdbcType=VARCHAR},
    	         	     	 
    	 template_genre = #{record.templateGenre,jdbcType=VARCHAR},
    	         	     	 
    	 template_content = #{record.templateContent,jdbcType=VARCHAR}
    	         
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.clinbrain.mq.model.custom.sms.UMsgTemplate">
    update u_msg_template
    <set>
                          
      <if test="templateCode != null">
        template_code = #{templateCode,jdbcType=VARCHAR},
      </if>
                      
      <if test="templateGenre != null">
        template_genre = #{templateGenre,jdbcType=VARCHAR},
      </if>
                      
      <if test="templateContent != null">
        template_content = #{templateContent,jdbcType=VARCHAR},
      </if>
              </set>
    
    where 
            
    id = #{id,jdbcType=INTEGER}
                                  
  </update>

      	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.clinbrain.mq.model.custom.sms.UMsgTemplate">
    update u_msg_template
    set 
    		 		 	  	  
		template_code = #{templateCode,jdbcType=VARCHAR},
	  	 		 	  	  
		template_genre = #{templateGenre,jdbcType=VARCHAR},
	  	 		 	  		
		template_content = #{templateContent,jdbcType=VARCHAR}
	  	 		
    where 
            
    id = #{id,jdbcType=INTEGER}
                                    
  </update>
  
                        
</mapper>