<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinbrain.mq.mapper.custom.UMqMessageMapper">
  <resultMap id="BaseResultMap" type="com.clinbrain.mq.model.custom.UMqMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="message_genre" jdbcType="VARCHAR" property="messageGenre" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="retry" jdbcType="INTEGER" property="retry" />
    <result column="delay" jdbcType="VARCHAR" property="delay" />
    <result column="assign_to" jdbcType="VARCHAR" property="assignTo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
    <result column="original_data" jdbcType="VARCHAR" property="originalData" />
    <result column="log" jdbcType="VARCHAR" property="log" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
    <result column="attach_paths" jdbcType="VARCHAR" property="attachPaths" />
    <result column="expired" jdbcType="VARCHAR" property="expired" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <insert id="insertSelective" parameterType="com.clinbrain.mq.model.custom.UMqMessage" useGeneratedKeys="true" keyProperty="id">
    insert into u_mq_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="messageGenre != null">
                message_genre,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="retry != null">
                retry,
            </if>
            <if test="delay != null">
                delay,
            </if>
            <if test="assignTo != null">
                assign_to,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="traceId != null">
                trace_id,
            </if>
            <if test="originalData != null">
                original_data,
            </if>
            <if test="log != null">
                log,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="attachPaths != null">
                attach_paths,
            </if>
            <if test="expired != null">
                expired,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="messageGenre != null">
                #{messageGenre,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="retry != null">
                #{retry,jdbcType=INTEGER},
            </if>
            <if test="delay != null">
                #{delay,jdbcType=VARCHAR},
            </if>
            <if test="assignTo != null">
                #{assignTo,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="traceId != null">
                #{traceId,jdbcType=VARCHAR},
            </if>
            <if test="originalData != null">
                #{originalData,jdbcType=VARCHAR},
            </if>
            <if test="log != null">
                #{log,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=INTEGER},
            </if>
            <if test="attachPaths != null">
                #{attachPaths,jdbcType=VARCHAR},
            </if>
            <if test="expired != null">
                #{expired,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
  </insert>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.clinbrain.mq.model.custom.UMqMessage">
        select *
        from u_mq_message
        where 1 = 1
        <if test="id != null and id!=''">
            and id = #{id}
        </if>
        <if test="messageGenre != null and messageGenre!=''">
            and message_genre= #{messageGenre}
        </if>
        <if test="status != null and status!=''">
            and status= #{status}
        </if>
        <if test="retry != null and retry!=''">
            and retry= #{retry}
        </if>
        <if test="delay != null and delay!=''">
            and delay= #{delay}
        </if>
        <if test="assignTo != null and assignTo!=''">
            and assign_to= #{assignTo}
        </if>
        <if test="title != null and title!=''">
            and title= #{title}
        </if>
        <if test="content != null and content!=''">
            and content= #{content}
        </if>
        <if test="traceId != null and traceId!=''">
            and trace_id= #{traceId}
        </if>
        <if test="originalData != null and originalData!=''">
            and original_data= #{originalData}
        </if>
        <if test="log != null and log!=''">
            and log= #{log}
        </if>
        <if test="templateId != null and templateId!=''">
            and template_id= #{templateId}
        </if>
        <if test="attachPaths != null and attachPaths!=''">
            and attach_paths= #{attachPaths}
        </if>
        <if test="expired != null and expired!=''">
            and expired= #{expired}
        </if>
        <if test="createTime != null">
            and create_time= #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time= #{updateTime}
        </if>
    </select>

    <select id="selectListByIds" resultMap="BaseResultMap">
        select *
        from u_mq_message
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateById" parameterType="com.clinbrain.mq.model.custom.UMqMessage">
        update u_mq_message
        <set>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="retry != null">
                retry = #{retry,jdbcType=INTEGER},
            </if>
            <if test="delay != null">
                delay = #{delay,jdbcType=VARCHAR},
            </if>
            <if test="log != null">
                log = #{log,jdbcType=VARCHAR},
            </if>
            <if test="expired != null">
                expired = #{expired,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
