<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改')"/>
</head>
<body>
<form class="layui-form" action=""  th:object="${MqMessage}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
				<div class="layui-form-item layui-hide">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <input type="text" th:value="*{id}" name="id" lay-verify="title"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">消息类型， sms, email ...</label>
                    <div class="layui-input-block">
                        <input th:value="*{messageGenre}" type="text" name="messageGenre" autocomplete="off" placeholder="消息类型， sms, email ..." class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">消息状态，准备发送，发送失败，发送成功</label>
                    <div class="layui-input-block">
                        <input th:value="*{status}" type="text" name="status" autocomplete="off" placeholder="消息状态，准备发送，发送失败，发送成功" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label"> > 0 重试次数</label>
                    <div class="layui-input-block">
                        <input th:value="*{retry}" type="text" name="retry" autocomplete="off" placeholder=" > 0 重试次数" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">延迟时间点</label>
                    <div class="layui-input-block">
                        <input th:value="*{delay}" type="text" name="delay" autocomplete="off" placeholder="延迟时间点" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">指定人</label>
                    <div class="layui-input-block">
                        <input th:value="*{assignTo}" type="text" name="assignTo" autocomplete="off" placeholder="指定人" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input th:value="*{title}" type="text" name="title" autocomplete="off" placeholder="标题" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">发送内容</label>
                    <div class="layui-input-block">
                        <input th:value="*{content}" type="text" name="content" autocomplete="off" placeholder="发送内容" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">引用模板</label>
                    <div class="layui-input-block">
                        <input th:value="*{templateId}" type="text" name="templateId" autocomplete="off" placeholder="引用模板" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">追踪标识</label>
                    <div class="layui-input-block">
                        <input th:value="*{traceId}" type="text" name="traceId" autocomplete="off" placeholder="追踪标识" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">原始信息</label>
                    <div class="layui-input-block">
                        <input th:value="*{originalData}" type="text" name="originalData" autocomplete="off" placeholder="原始信息" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">日志记录信息</label>
                    <div class="layui-input-block">
                        <input th:value="*{log}" type="text" name="log" autocomplete="off" placeholder="日志记录信息" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input th:value="${MqMessage.dateToStringConvert(MqMessage.createTime)}" type="text" name="createTime" autocomplete="off" placeholder="创建时间" class="layui-input datetime-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">修改时间</label>
                    <div class="layui-input-block">
                        <input th:value="${MqMessage.dateToStringConvert(MqMessage.updateTime)}" type="text" name="updateTime" autocomplete="off" placeholder="修改时间" class="layui-input datetime-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">标识过期</label>
                    <div class="layui-input-block">
                        <input th:value="*{expired}" type="text" name="expired" autocomplete="off" placeholder="标识过期" class="layui-input">
                    </div>
                </div>

				<div class="layui-form-item">
                    <label class="layui-form-label">附件列表。多个附近以||分割（双竖线）</label>
                    <div class="layui-input-block">
                        <input th:value="*{attachPaths}" type="text" name="attachPaths" autocomplete="off" placeholder="附件列表。多个附近以||分割（双竖线）" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="mqMessage-update">
                <i class="layui-icon layui-icon-ok"></i>
				提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
				重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/MqMessageController";
		
		var laydate = layui.laydate;
        //同时绑定多个
        lay('.datetime-input').each(function(){
          laydate.render({
            elem: this
            ,trigger: 'click'
            ,type: 'datetime'
          });
        });
        form.on('submit(mqMessage-update)', function (data) {
            $.ajax({
                url: MODULE_PATH+'/edit',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("mqMessage-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>